<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185863830826-r2f957plfhueeuad51i3cikuv3acovle.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185863830826-r2f957plfhueeuad51i3cikuv3acovle</string>
	<key>API_KEY</key>
	<string>AIzaSyB8woDs9vTiMzeCaHcKuAldLkwJA93qhzk</string>
	<key>GCM_SENDER_ID</key>
	<string>185863830826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ypyprojeodevi</string>
	<key>PROJECT_ID</key>
	<string>quizapp-27406</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-27406.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185863830826:ios:e762cc22693c726b447253</string>
</dict>
</plist>